<!DOCTYPE html>
<html>

<body>

    <!-- Use javascript to write "hello" to the web page -->
    <script>
        document.write("hello from hello.ejs via javascript");
    </script>

</body>

</html>